@import "tailwindcss";

@keyframes glow {
  0% {
    box-shadow: 0 0 6px #22d3ee44;
  }
  50% {
    box-shadow: 0 0 14px #22d3eeaa;
  }
  100% {
    box-shadow: 0 0 6px #22d3ee44;
  }
}

.active-line {
  animation: glow 1.8s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.6);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.7);
  border-radius: 10px;
}
